<br><br><br>
<div class="container">

  <div style="text-align: center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-outline-dark" (click)="this.get_libros()">Ver Todos</button>
      <button type="button" class="btn btn-outline-dark"  data-toggle="modal" data-target="#exampleModal">Buscar</button>
      <button type="button" class="btn btn-outline-dark" (click)="editar=!editar">Gestionar</button>
    </div>
  </div>

  <br>
  <hr>
  <br>


  <div *ngFor="let libro of libros" style="padding: 10px" >
   <div class="card" >
     <div class="card-body">

       <div class="card-title" >

         <div class="row">
           <div class="col-6"><h5>{{libro.titulo}}</h5></div>
           <div *ngIf="editar" class="col-6" style="text-align: right">
             <div class="btn-group" role="group" aria-label="Basic example">
               <button type="button" class="btn btn-warning">Modificar</button>
               <button type="button" class="btn btn-danger">Eliminar</button>
             </div>
           </div>
         </div>
       </div>
       <hr>
       <div class="row">
         <div class="col-6"><strong>Autor:</strong></div>
         <div class="col-6">{{libro.autor}}</div>
       </div>
       <div class="row">
         <div class="col-6"><strong>Editorial:</strong></div>
         <div class="col-6">{{libro.editorial}}</div>
       </div>
       <div class="row">
         <div class="col-6"><strong>ISBN:</strong></div>
         <div class="col-6">{{libro.isbn}}</div>
       </div>
     </div>
   </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar libro por título</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Título del libro a buscar</p>
        <input type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
